/*Pagina completa*/
.general {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: rgb(57,57,57);
    background: linear-gradient(0deg, rgba(57,57,57,1) 39%, rgba(144,144,144,1) 81%);
}

/* NavBar */
.head {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-left: 50px;
}

.lista {
    list-style: none;
    margin-top: 110px;
    font-size: 25px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    color: rgb(112, 112, 112);
}

.carruselinmovil {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.imagen1,
.imagen2,
.imagen3 {
    width: 400px;
    margin: 10px;
}

/*Titulo y Subtitulo*/
.titulo {
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subtitulo {
    text-align: center;
    font-size: 35px;
    padding: 10px;
}

/*Parrafos*/
.texto {
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

.textomision {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 125px;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.mision-imagen {
    display: flex;
    align-items: center;
}

.utensilios {
    width: 120px;
}

.mapa{
    text-align: center;
}

.diferenciales {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listamisiones{
    text-align: left;
    list-style: circle;
    margin-left: 250px;
}

.items {
    font-size: 22px;
    margin: 5px;
}

.imagendiferenciales {
    width: 300px;
    height: auto;
    margin-right: 250px;
    box-shadow: 5px 5px 5px 5px #000000;
}

.video{
    text-align: center;
    margin: 30px;
}

.footer {
    background-color: #000000;
    text-align: center;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 480px) {
    h1, h3{
        text-align: center;
    }
    nav{
        position: static;
    }
    .imagen1, .imagen3{
        opacity: 0%;
    }
    .imagen2{
        margin: 10px;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .textomision {
        text-align: center;
        font-size: 30px;
    }
    .utensilios{
        opacity: 0%;
    }
    .listamisiones{
        margin-left: 150px;
    }
    .imagendiferenciales{
        opacity: 0%;
    }
}